ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    height: 25px;
    width: 100%;
    vertical-align: center;
    display: flex;
}

li.logo {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

li.navbar {
    float: center;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
    font-family: "Georgia", Times, serif;
    font-size: large;
}

li a:hover {
    background-color: white;
    color: black;
    height: 100%;
}

img.navbar {
    height: 2em;
    width: 2em;
}

